body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-button {
  height: 32px;
  background-color: #43a047;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:not([disabled]):hover {
  background-color: #317434;
  transform: scale(1.05);
  transition: 300ms;
}

.custom-button:disabled {
  background-color: gray;
  cursor: default;
}

html,
body,
#root {
  height: 100%;
}

.round-clickable-icon {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .round-clickable-icon:hover:not([disabled]) {
    background-color: #2684ff;
    color: white;
    transform: scale(1.1);
    transition: 200ms;
  }
}

.round-clickable-icon:disabled {
  cursor: default;
}

.round-clickable-icon:disabled svg {
  color: gray !important;
}

textarea {
  height: 100px;
}
